/* Sidebar Styles */
.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #f0f4f0; /* Soft greenish-gray background */
  padding: 20px;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}


/* Buttons in Sections */
#madagascar-sub .button-container,
#farms-sub .button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

/* Buttons */
.button-container button {
  padding: 8px 16px;
  background-color: #4CAF50; /* Earthy green button color */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
  transform: scale(1.05);
}

/* Section Title */
.section-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  padding-bottom: 2px;
  justify-content: space-between;
  border-bottom: 2px solid #426c44; /* Earthy green accent color */
}
/* Subsection Title */
.subsection-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 6px;
  padding-bottom: 8px;
  justify-content: space-between;
  border-bottom: 2px solid #426c44; /* Earthy green accent color */
}

/* Buttons Alignment in Subsections */
#farms-sub,
#madagascar-sub {
  justify-content: flex-start;
  align-items: center;
}

/* Content and Model Viewer Styles */
.content-container {
  flex: 1;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  position: relative;
}

/* Home Button */
.home-button {
  background: transparent;
  color: green;
  cursor: pointer;
  border: none;
  font-size: 27px;
  display: flex;
  
}

.home-button i {
  margin-right: 0px;
  margin-top: 42px;
}
.home-button :hover {
  color: rgb(0, 176, 0);
  transform: scale(0.85); 
}

/* Adjust View Button */
.adjust-view-container button {
  background: transparent;
  color: #333;
  cursor: pointer;
  border: none;
  font-size: 21px;
  display: flex;
  align-items: center;
}
.adjust-view-container button:hover {
  color: #fff; /* Change text color to white on hover */
  transform: scale(1.2); /* Slightly increase the size */
}

.adjust-view-container i {
  margin-top:5px;
}

/* Open Button */
.open-button {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background: white;
  color: green;
  cursor: pointer;
  border: 2px solid green;
  font-size: 23px;
  font-weight: 300;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 5px 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  
}

.open-button:hover {
  transform: scale(0.9);
}

/* Sidebar for layer checkboxes */
.layer-sidebar {
  margin-left: 15px;
  margin-top:25px;
  width: 230px;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.layer-controls-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Layer checkbox container */
.layer-checkbox-container {
  margin-bottom: 8px;
  border: 1px solid #eeeeee00;
  border-radius: 4px;
  overflow: hidden;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  height:14px;
  gap: 5px;
  padding: 6px;
  background-color:  #f0f4f0;
  cursor: pointer;
}

.checkbox-wrapper:hover {
  background-color:  #d3e1d3;
  
}

/* Label for checkbox */
label {
  margin-left: 4px;
  font-size: 14px;
  color: #333;
}

/* Layer checkbox container */
.layer-checkbox-container label {
  color: black;
}

/* Hide the default radio appearance */
.input-box {
  -webkit-appearance: none;  /* Remove default appearance in Webkit browsers */
  -moz-appearance: none;     /* Remove default appearance in Firefox */
  appearance: none;          /* Standardize across browsers */
  width: 15px;
  height: 15px;
  border: 2px solid #4CAF50; /* Border color */
  border-radius: 4px;        /* Square corners */
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* When the input is checked, show the "dot" inside */
.input-box:checked {
  background-color: green ; /* Green background when checked */
  box-shadow: inset 0 0 0 2px #ffffff;
}



/* Layer Controls and Other UI Elements */
#layer-container,
#indices-container,
#farms-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
}

.layer-toggle {
  background: #ffffff;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.layer-toggle:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transform: translateX(5px);
}

.section-divider {
  height: 2px;
  background-color: #e0e0e0;
  margin: 20px 0;
}
.coordinates-display {
  position: absolute;
  bottom: 20px;
  right: -80px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  pointer-events: none; /* Prevent blocking interactions with the map */
}
/* Map container styles */
#map-container {
  position: relative;
  height: 100vh;
  width: 100%;
  margin-left: 100px;
  transition: transform 0.4s ease;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#map-container.shifted {
  transform: translateX(-30%);
}



/* Add Font Awesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Neutra Text', sans-serif; /* Using Neutra Text font */
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}


/* Hover Pane */
#hover-pane {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 270px;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1000;
  padding: 10px;
  padding-bottom: 0px;
  overflow: auto;
  display: none;
}

/* Close Button */
#hover-pane button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#hover-pane button:hover {
  background-color: red;
  color: white;
}
/* Secondary Pane */
#secondary-pane {
  position: absolute;
  bottom: 70px;
  right: 10px;
  width: 360px;
  height: 160px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1000;
  overflow: auto;
  display: none;
}

#secondary-pane ul {
  list-style-type: none;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 0px;
  margin-left: 10px;
  background-color: #f8f8f8;
}

#secondary-pane li {
  margin: 8px 0;
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
  background-color: #f8f8f8;
}


.text-alignment
{
  margin:0px;
  padding-top: 8px;
}


